<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <title>APP gestor de tareas</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Tangerine" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Permanent+Marker" />

     <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Permanent+Marker" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">-->
    <script src="{{ url_for('static', filename='botones.js') }}"></script>
    <script src="{{ url_for('static', filename='CambiarVista.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!------ Include the above in your HEAD tag ---------->
<style>
body {
  margin: 0;
}
.titulo{
    /*background-color: yellow;*/
    font-family: "Permanent Marker";
    font-size:40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #1A7eA1;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.btn {
	  background-color: DodgerBlue;
	  border: none;
	  color: white;
	  padding: 12px 16px;
	  font-size: 16px;
	  cursor: pointer;
	}
.btnFinal {
	  border: none;
	  color: white;
	  cursor: pointer;
	  background-color:white;
	}
	table, th, td {
        border: 1px solid black;
    }
    .btnGuardar {
	  background-color: green;
	  border: none;
	  color: white;
	  padding: 12px 16px;
	  font-size: 16px;
	  cursor: pointer;
	  border-radius:
</style>
        <style>
        input{
            max-width:120px;
        }
        th{
            background-color:#D7C7C3;
            text-decoration:underline;
        }
    </style>
</head>
<BODY>

             <div class="container-fluid">
                 <div class="row">
                     <div class="col-sm-5"></div>
                        <div class="col-sm-4"><h1 class="titulo">Imperium RC</h1></div>
                        <div class="col-sm-2">
                            <span style="text-decoration:underline;font-weight:bold">perfil:</span> {{perfil}}<br>
                            <span style="text-decoration:underline;font-weight:bold">usuario:</span> {{usuario}}
                        </div>
                        <div class="col-sm-1">
                              <form action="/cerrar" method="POST">
                                     <button class="btn" style="margin-top:5px" type="submit"><i class="fa fa-sign-out"></i> </button>
                              </form>
                        </div>
                     </div>
                 <div class="row">
                     <div class="col-2">
                          <ul class="text-center">
                              <!--<li onclick="cambio('principal')"><a class="active" href="#">Principal</a></li>
                              <li onclick="cambio('compras')"><a href="#" >Compras</a></li>
                              <li onclick="cambio('Inventario')"><a href="#" >Inventario</a></li>
                              <li onclick="cambio('ventas')"><a href="#" >Ventas</a></li>
                              <li onclick="cambio('graficos')"><a href="#">Gràficos</a></li>-->

                              <li><a href="{{ url_for('principalComercial') }}">Principal</a></li>
                              <li><a href="{{ url_for('compras') }}">Compras</a></li>
                              <li><a class="active" href="{{ url_for('inventario2') }}">Inventario</a></li>
                              <li><a href="{{ url_for('factura') }}">Ventas</a></li>
                              <li><a href="{{ url_for('listadoGraficos') }}">Graficos</a></li>
                          </ul>

                     </div>
                     <div class="col-9"  id="contenido" style="border:1px solid black;height:550px;max-height:600px;overflow:auto;">
                        <div class="container">
                                <div class="row">
                                    <div class="col-sm-5"></div>
                                    <div class="col-sm-6">
                                         <span style="font-weight:bold;font-size:24px;text-decoration:underline">Almacén</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="container">

                                      <p>*Inventario de todos los productos:</p>
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th>Producto</th>
                                              <th><center>Precio Inicial</center></th>
                                              <th><center>*Debe ser superior a 1 euro</br><center> del Precio Final*</center></th>
                                              <th style="width:100px;text-align:center">Stock</th>
                                              <th><center><span style="margin-left:15px;"> Cantidad</span> <br><span style="margin-left:10px">último pedido</span></center></th>
                                              <th><center>Gráfico</center></th>
                                              <th>Pasillo</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for linea in lista %}
                                                <tr>
                                                    <td>{{linea[0]}}</td>
                                                    <td><input type="text" value="{{linea[1]}}" style="border-style:none;text-align:center" readonly/></td>
                                                    <td><center><input id="{{linea[6]}}" name="precioFinal" type="text" style="text-align:right" value="{{linea[2]}}"/></center></td>

                                                    <td><center>{{linea[3]}}</center></td>
                                                    <td><center>{{linea[4]}}</center></td>
                                                    <td>
                                                        {% if linea[7] <=25 %}
                                                            <div class="w3-red" style="width:100px;height:24px;border-radius:5px"></div>
                                                       {% elif linea[7] >=25 and linea[7] <90 %}
                                                            <div class="w3-orange" style="width:100px;height:24px;border-radius:5px"></div>
                                                       {% else %}
                                                          <div class="w3-green" style="width:100px;height:24px;border-radius:5px"></div>
                                                       {% endif %}
                                                    </td>
                                                    <td><center>{{linea[5]}}</center></td>
                                                </tr>
                                         {% endfor %}
                                        </tbody>
                                      </table>
                                    </div>
                                </div>
                            <script>
                               $( "input[name='precioFinal']" ).each(function()
                               {
                                    console.log($(this).val()+"//recorrer");
                                    $(this).blur(function()
                                    {
                                       valor2=parseFloat($(this).val());
                                       console.log(valor2);
                                       var input=$(this);

                                        //los cambiamos todos asi nos aseguramos
                                        $(this).parent().parent().parent().find('td').each(function(i){
                                              if(i==1){ // solamente el campo
                                                   valor=parseFloat($(this).find("input").val());
                                                   valor=valor + 1
                                                   console.log(valor);
                                                   if(valor>valor2 || input.val()==""){
                                                        valor2=valor;
                                                        input.val(valor2);
                                                   }
                                                   //obtenemos el valor2

                                                   data= {'id' : input.attr("id"),
                                                          'precioFinal' : valor2.toFixed(2) }
                                                   //fer ajax ==> modificant el valor
                                                   console.log("modificar");
                                                   console.log(data);
                                                     $.ajax({
                                                        data: data,
                                                        type: "POST",
                                                        dataType: "json",
                                                        url: "/modificarPrecioFinal",
                                                        success: function(response){
                                                               console.log(response);
                                                        },done:function(response){
                                                                alert("falla")
                                                        }})

                                              }
                                              i++;

                                        });

                                    });

                                })

                            </script>

                     </div>
                 </div>
		        </div>
             </div>

</BODY>