<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
		function prueba(span){

			span=$("#"+span.id)
			//eliminarlo  en
			span.parent().hide()
		}

  </script>

  <style>
	.btn {
	  background-color: DodgerBlue;
	  border: none;
	  color: white;
	  padding: 12px 16px;
	  font-size: 16px;
	  cursor: pointer;
	}

	.btnModificar {
	  background-color: orange;
	  border: none;
	  color: white;
	  padding: 12px 16px;
	  font-size: 16px;
	  cursor: pointer;
	  border-radius: 5px;
	}

	.btnSuccess {
	  background-color: green;
	  border: none;
	  color: white;
	  padding: 12px 16px;
	  font-size: 16px;
	  cursor: pointer;
	  border-radius: 5px;
	}

	/* Darker background on mouse-over */
	.btn:hover {
	  background-color: RoyalBlue;
		color:white;
	}
		ul li a {
			color:#999;
			transition: color 0.5s linear; /* vendorless fallback */
			-o-transition: color 0.5s linear; /* opera */
			-ms-transition: color 0.5s linear; /* IE 10 */
			-moz-transition: color 0.5s linear; /* Firefox */
			-webkit-transition: color 0.5s linear; /*safari and chrome */
		}

		ul li a:hover {
			color:black;
			cursor: pointer;
		}
	</style>
<body>
user conectado: {{usuario}}
<div class="container-fluid">

	      <button onclick="document.getElementById('id01').style.display='block'" class="btn" style="margin-top:10px">
				Modificar tus datos: <i class="fa fa-user" style="font-size:15px"></i></button>

		  <div id="id01" class="w3-modal">
			<div class="w3-modal-content" style="margin-top:-100px">
			  <header style="background-color: DodgerBlue;color:white" style="min-height:100px">
				<span onclick="document.getElementById('id01').style.display='none'"
				class="w3-button w3-display-topright" style="margin-top:12px">X</span>
				<h3 class="text-center" style="padding:20px">Modificar tus datos: </h3>

			  </header>
			  <div class="row">

				  <div class="col-sm-4">
				  </div>
				  <div class="col-sm-5">
					    <form action="/setProveedor" method="POST" style="margin-left:-15%">
							  <div class="form-group">
								<label for="email">Correo eletrónico:</label>
								<input name="email" type="email" class="form-control" id="email">
							  </div>
							  <div class="form-group">
								<label for="pwd">Contraseña:</label>
								<input type="password" class="form-control" id="pwd">
							  </div>
							  <div class="form-group">
								<label for="nombre">Nombre:</label>
								<input type="text" class="form-control" id="nombreProveedor">
							  </div>
							  <div class="form-group">
								<label for="apellidos">Apellidos:</label>
								<input type="text" class="form-control" id="apellidos">
							  </div>
							  <div class="form-group">
								<label for="telefono">Telefono:</label>
								<input type="text" class="form-control" id="telefono">
							  </div>
							  <div class="form-group">
								<div class="form-group">
								  <label>Iva:</label>
								  <select class="form-control" id="iva">
									<option>21%</option>
									<option>18%</option>
									<option>10%</option>
									<option>4%</option>
								  </select>
								</div>
							  </div>
							  <div class="form-group">
								<label for="pwd">Descuento:</label>
								<input type="text" class="form-control" id="descuento">
							  </div>

							  <div class="row">
									<div class="col-sm-4">
									</div>
									<div class="col-sm-3">
										 <button type="submit" class="btnModificar" >Modificar</button>
									</div>
							  </div>
							<br>
						</form>

				  </div>
			  </div>
			  <footer style="background-color: DodgerBlue;color:white">
					<p class="text-center">&nbsp;</p>
			  </footer>
			</div>
		  </div>

</div>
    <div class="col-sm-11"></div>
    <div class="col-sm-1">
		  <form action="/cerrar" method="POST" style="margin-top:-55px">
				 <button class="btn" style="margin-top:5px" type="submit"><i class="fa fa-sign-out"></i> </button>
		  </form>
	</div>

  </div>
   <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-3"><h2  style="text-decoration:underline">Listado de Productos </h2></div>
	<div class="col-sm-3">

				<button onclick="document.getElementById('id03').style.display='block'" class="btn" style="margin-top:10px">
				<i class="fa fa-plus" style="font-size:15px"></i></button>

		  <div id="id03" class="w3-modal">
			<div class="w3-modal-content" style="margin-top:-100px">
			  <header style="background-color: DodgerBlue;color:white" style="min-height:100px">
				<span onclick="document.getElementById('id03').style.display='none'"
				class="w3-button w3-display-topright" style="margin-top:12px">X</span>
				<h3 class="text-center" style="padding:20px">Añadir un producto</h3>

			  </header>
			  <div class="row">

				  <div class="col-sm-3">
				  </div>
				  <div class="col-sm-5">
						  <form action="/guardar" method="POST">
							  <div class="form-group">
								<label for="idProducto">Id producto:</label>
								<input name="idProducto" type="text" class="form-control" id="idProducto">
							  </div>
							  <div class="form-group">
								<label for="nombre">nombre:</label>
								<input name="nombre" type="text" class="form-control" id="nombre">
							  </div>
							  <div class="form-group">
								<label for="precio">precio:</label>
								<input name="precio" type="text" class="form-control" id="precio">
							  </div>


							  <div class="row">
									<div class="col-sm-4">
									</div>
									<div class="col-sm-3">
										 <button type="submit" class="btnSuccess" onclick="document.getElementById('id01').style.display='none'">Añadir</button>
									</div>
							  </div>

						</form>
						<br>
				  </div>
			  </div>
			  <footer style="background-color: DodgerBlue;color:white">
					<p class="text-center">&nbsp;</p>
			  </footer>
			</div>
		  </div>
	</div>
    <div class="col-sm-2"></div>
  </div>
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
		<ul class="w3-ul w3-card-4">
			<li class="w3-bar">
			  <span id="1" onclick="prueba(this)" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
			  <img src="4x4.png" class="w3-bar-item w3-hide-small" style="width:85px">
			  <div class="w3-bar-item">
				  <table>
						<tr>
							<td><span class="w3-large">R1</span></td><td>&nbsp;&nbsp;</td><td><span class="w3-large">Precio</span></td>
						</tr>
							<td><span>4x4</span></td><td>&nbsp;&nbsp;</td><td><span>400euros</span></td>
						</tr>
					</table>
			  </div>
			</li>

			<li class="w3-bar">
			  <span id="2" onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
			  <img src="moto.jpg" class="w3-bar-item  w3-hide-small" style="width:85px">
			  <div class="w3-bar-item">
					  <table>
						<tr>
							<td><span class="w3-large">R2</span></td><td>&nbsp;&nbsp;</td><td><span class="w3-large">Precio</span></td>
						</tr>
							<td><span>moto</span></td><td>&nbsp;&nbsp;</td><td><span>40.00 euros</span></td>
						</tr>
					</table>
			  </div>
			</li>

		  </ul>
	</div>
	<div class="col-sm-3"></div>
    <div class="col-sm-2" ></div>
  </div>
</div>


</body>
</html>
